<head>
<style>
a:link
{
color: blue;
}

a:visited
{
	color: red;
}
a:active
{
	color: purple;
}
a:hover
{
	background-color: teal;
	text-decoration: none;
	color: red;
}
input:focus, textarea:focus
{
	background: silver;
}
</style>
</head>

<body>
<form name="fo" action="/save_appointment" method="post">
<fieldset>
<legend>Appointment :</legend>
Patient List     :  <select name="app_pname">
<% @patients.each do |pat| %>
<option><%= pat.name %></option>
<% end %>
</select>
<p>

Doctor List     :  <select name="app_dname">
<% @doctors.each do |doc| %>
<option><%= doc.name %></option>
<% end %>
</select>
<p>

Date of Appointment : <input type="calender" name="da"><p>
Time of Appointment : <input type="time" name="ti">
<p>

<input type="submit" value="Save">  <input type="reset" value="Reset">
</fieldset>
</form>
<br>
<a href="/">Back</a>